---
import GalleryClient from "../components/GalleryClient/GalleryClient";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Galeria | Ocaña FC">
  <main>
    <section class="py-16">
      <div class="container mx-auto">
        <h2 class="text-3xl font-bold text-center mb-8">Galería</h2>
        <GalleryClient client:load/>
      </div>
    </section>
  </main>
</Layout>
