---

import MyCarousel from "../components/MyCarousel.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Ocaña FC">
  <main>
    <section class="bg-gray-800 text-white py-20">
      <div class="container mx-auto text-center">
          <h1 class="text-4xl md:text-6xl font-bold mb-4">Bienvenido a Ocaña FC</h1>
          <p class="text-lg md:text-xl mb-8">¡Únete a nuestra pasión por el fútbol!</p>
          <a href="#" class="bg-primary hover:bg-green-900 text-gray-900 font-bold py-2 px-6 rounded-full uppercase tracking-wide">Únete Ahora</a>
      </div>
    </section>
    <MyCarousel />
    <section class="py-16">
    <div class="container mx-auto">
      <h2 class="text-3xl font-bold text-center mb-8">Acerca de</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
          <img src="img/prueba.jpg" alt="Imagen 1" class="w-full" />
          <div class="p-6">
            <h3 class="text-xl font-bold mb-2">Equipos</h3>
            <p>Conoce más sobre nuestros equipos y jugadores.</p>
            <a
              href="/equipos"
              class="bg-primary hover:bg-green-900 text-gray-900 font-bold py-2 px-6 rounded-full uppercase tracking-wide mt-4 inline-block"
              >Ver más</a
            >
          </div>
        </div>
        <!-- Resumen de Noticias -->
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
          <img src="img/noticias logo.png" alt="Imagen 2" class="w-full" />
          <div class="p-6">
            <h3 class="text-xl font-bold mb-2">Noticias</h3>
            <p>Lee las últimas noticias y actualizaciones.</p>
            <a
              href="/noticias"
              class="bg-primary hover:bg-green-900 text-gray-900 font-bold py-2 px-6 rounded-full uppercase tracking-wide mt-4 inline-block"
              >Ver más</a
            >
          </div>
        </div>
        <!-- Resumen de Galería -->
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
          <img src="img/Galeria.jpg" alt="Imagen 3" class="w-full" />
          <div class="p-6">
            <h3 class="text-xl font-bold mb-2">Galería</h3>
            <p>Explora nuestra galería de imágenes.</p>
            <a
              href="/galeria"
              class="bg-primary hover:bg-green-900 text-gray-900 font-bold py-2 px-6 rounded-full uppercase tracking-wide mt-4 inline-block"
              >Ver más</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="bg-gray-900 text-white py-8">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 Ocaña FC. Todos los derechos reservados.</p>
    </div>
  </footer>
  </main>
</Layout>