---
import CardComponent from "../components/Card";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jugadores | Ocaña FC">
  <main>
    <section class="py-20">
      <div class="container mx-auto">
        <h2 class="text-3xl font-bold text-center mb-12">
          Jugadores Categoria Sub20
        </h2>
        <div class="flex flex-wrap justify-center gap-10 md:gap-6 lg:gap-8">
          <CardComponent name="Jhojan Escobar" position="Lateral Izquierdo" team="Ocaña FC" birthDate="15 ene 2001" imageUrl="img/player.jpg"/>
          <CardComponent name="Hamer Alcina" position="Defensa Central" team="Ocaña FC" birthDate="15 ene 2001" imageUrl="img/player.jpg"/>
          <CardComponent name="Davinson Garcia" position="Delantero Centro" team="Ocaña FC" birthDate="15 ene 2001" imageUrl="img/Davinson1.jpg"/>
          <CardComponent name="Jhojan Escobar" position="Lateral Izquierdo" team="Ocaña FC" birthDate="15 ene 2001" imageUrl="img/player.jpg"/>
          <CardComponent name="Jhojan Escobar" position="Lateral Izquierdo" team="Ocaña FCC" birthDate="15 ene 2001" imageUrl="img/player.jpg"/>
          <CardComponent name="Jhojan Escobar" position="Lateral Izquierdo" team="Ocaña FC" birthDate="15 ene 2001" imageUrl="img/player.jpg"/>
          <CardComponent name="Jhojan Escobar" position="Lateral Izquierdo" team="Ocaña FC" birthDate="15 ene 2001" imageUrl="img/player.jpg"/>
          <CardComponent name="Jhojan Escobar" position="Lateral Izquierdo" team="Ocaña FC" birthDate="15 ene 2001"imageUrl="img/player.jpg"/>
        </div>
      </div>
    
  </main>
</Layout>
  
