




<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias | Ocaña Futbol Club</title>
    <link rel="icon" type="image/png" href="img/logo.png">
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">


    <style>
        /* Color personalizado para el fondo del nav */
        nav {
            background-color: #218116ff;
        }
        a{
            background-color: #218116ff;
        }
    </style>
</head>
<body class="bg-gray-100">
        <!-- Navigation -->
        <nav class="text-white py-4">
            <div class="container mx-auto flex justify-between items-center">
                <div class="flex items-center">
                    <img src="/img/logo.png" alt="Escudo del equipo" class="h-12 w-12 mr-2">
                    <a href="#" class="text-lg font-bold mr-4">Ocaña FC</a>
                    <ul class="hidden md:flex space-x-4">
                        <li><a href="/" class="hover:text-gray-300">Inicio</a></li>
                        <li><a href="/equipos" class="hover:text-gray-300">Equipos</a></li>
                        <li><a href="/noticias" class="hover:text-gray-300">Noticias</a></li>
                        <li><a href="/galeria" class="hover:text-gray-300">Galeria</a></li>
                        <li><a href="#" class="hover:text-gray-300">Contacto</a></li>
                    </ul>
                </div>
                <div class="flex items-center">
                    <a href="https://www.facebook.com/OcanaFC2021" class="text-gray-300 hover:text-white mr-4"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-gray-300 hover:text-white mr-4"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-gray-300 hover:text-white mr-4"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </nav>  
<!-- Sección de Noticias -->
<section class="bg-gray-100 py-16">
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold text-center mb-8">Últimas Noticias</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Noticia 1 -->
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <img src="img/image1.jpg" alt="Noticia 1" class="w-full h-64 object-cover">
                <div class="p-6">
                    <h3 class="text-xl font-bold mb-2">Convocatoria Sub 20</h3>
                    <p class="text-gray-700">El día 29 de Febrero se llevó a cabo la convocatoria para la Categoría Sub 20 de Ocaña Futbol Club.</p>
                    <a href="https://www.facebook.com/OcanaFC2021/posts/pfbid02UgGZVzKvwHuKqZyhqBiXQdgrPwH43eQ2XYuBL2giy3x8pAJdgtJmnFQ9maHMbJutl" class="block text-center bg-yellow-500 hover:bg-yellow-600 text-gray-900 font-bold py-2 px-6 rounded-full uppercase tracking-wide mt-4">Leer más</a>
                </div>
            </div>
            <!-- Noticia 2 -->
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <img src="img/image1.jpg" alt="Noticia 2" class="w-full h-64 object-contain">
                <div class="p-6">
                    <h3 class="text-xl font-bold mb-2">Título de la Noticia 2</h3>
                    <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel magna eget odio mollis venenatis. Ut varius lorem vel ultricies dictum.</p>
                    <a href="#" class="block text-center bg-yellow-500 hover:bg-yellow-600 text-gray-900 font-bold py-2 px-6 rounded-full uppercase tracking-wide mt-4">Leer más</a>
                </div>
            </div>
            <!-- Noticia 3 -->
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <img src="img/noticia3.jpg" alt="Noticia 3" class="w-full h-64 object-cover">
                <div class="p-6">
                    <h3 class="text-xl font-bold mb-2">Título de la Noticia 3</h3>
                    <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel magna eget odio mollis venenatis. Ut varius lorem vel ultricies dictum.</p>
                    <a href="#" class="block text-center bg-yellow-500 hover:bg-yellow-600 text-gray-900 font-bold py-2 px-6 rounded-full uppercase tracking-wide mt-4">Leer más</a>
                </div>
            </div>
            <!-- Agrega más noticias según sea necesario -->
        </div>
    </div>
</section>


</body>

</html>