---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Staff | Ocaña FC">
    <main>
      <section class="bg-gray-100 py-20">
        <div class="container mx-auto">
          <h2 class="text-3xl font-bold text-center mb-12">Nuestro Staff</h2>
          <div class="flex flex-wrap justify-center gap-8">
            <div></div>
            <div class="relative overflow-hidden bg-white rounded-xl shadow-lg transition-transform transform hover:scale-105" style="width: 400px;">
              <img src="/img/DSC_1697.JPG" alt="Staff Member 1" class="w-full h-auto rounded-t-xl" />
              <div class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-gray-900 to-transparent p-4">
                <h3 class="text-lg font-semibold text-white mb-2">Nombre del Miembro del Staff</h3>
                <p class="text-gray-300">Cargo del Miembro del Staff</p>
              </div>
            </div>
            <div class="relative overflow-hidden bg-white rounded-xl shadow-lg transition-transform transform hover:scale-105" style="width: 400px;">
              <img src="/img/DSC_1977.JPG" alt="Staff Member 2" class="w-full h-auto rounded-t-xl" />
              <div class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-gray-900 to-transparent p-4">
                <h3 class="text-lg font-semibold text-white mb-2">Nombre del Miembro del Staff</h3>
                <p class="text-gray-300">Cargo del Miembro del Staff</p>
              </div>
            </div>
            <div class="relative overflow-hidden bg-white rounded-xl shadow-lg transition-transform transform hover:scale-105" style="width: 400px;">
              <img src="/img/DSC_1977.JPG" alt="Staff Member 3" class="w-full h-auto rounded-t-xl" />
              <div class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-gray-900 to-transparent p-4">
                <h3 class="text-lg font-semibold text-white mb-2">Nombre del Miembro del Staff</h3>
                <p class="text-gray-300">Cargo del Miembro del Staff</p>
              </div>
            </div>
            <div class="relative overflow-hidden bg-white rounded-xl shadow-lg transition-transform transform hover:scale-105" style="width: 400px;">
                <img src="/img/DSC_1977.JPG" alt="Staff Member 3" class="w-full h-auto rounded-t-xl" />
                <div class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-gray-900 to-transparent p-4">
                  <h3 class="text-lg font-semibold text-white mb-2">Nombre del Miembro del Staff</h3>
                  <p class="text-gray-300">Cargo del Miembro del Staff</p>
                </div>
            </div>
            <div class="relative overflow-hidden bg-white rounded-xl shadow-lg transition-transform transform hover:scale-105" style="width: 400px;">
                <img src="/img/DSC_1977.JPG" alt="Staff Member 3" class="w-full h-auto rounded-t-xl" />
                <div class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-gray-900 to-transparent p-4">
                  <h3 class="text-lg font-semibold text-white mb-2">Nombre del Miembro del Staff</h3>
                  <p class="text-gray-300">Cargo del Miembro del Staff</p>
                </div>
            </div>
            <div class="relative overflow-hidden bg-white rounded-xl shadow-lg transition-transform transform hover:scale-105" style="width: 400px;">
                <img src="/img/DSC_1977.JPG" alt="Staff Member 3" class="w-full h-auto rounded-t-xl" />
                <div class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-gray-900 to-transparent p-4">
                  <h3 class="text-lg font-semibold text-white mb-2">Nombre del Miembro del Staff</h3>
                  <p class="text-gray-300">Cargo del Miembro del Staff</p>
                </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </Layout>
  
  
  
  
  

  
