---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="icon" type="image/png" href="img/logo.png">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <style>
        .menu-hidden {
            transform: translateX(100%);
        }

        .menu-visible {
            transform: translateX(0);
        }

        .transition-transform {
            transition: transform 0.3s ease-in-out;
        }

        .submenu {
            display: none;
            position: absolute;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        .submenu a {
            display: block;
            padding: 8px 16px;
            color: #000;
            text-decoration: none;
        }

        .submenu a:hover {
            background-color: #f1f1f1;
        }

        .relative {
            position: relative;
        }

        .submenu-visible {
            display: block;
        }

        .social-icons a {
            margin-left: 1rem;
            color: #d1d1d1;
            text-decoration: none;
            font-size: 1.2rem;
        }

        .social-icons a:hover {
            color: #ffffff;
        }
    </style>
</head>

<body class="bg-gray-100">
    <nav class="text-white py-4 bg-primary">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center">
                <img src="/img/logo.png" alt="Escudo del equipo" class="h-12 w-12 mr-2">
                <a href="/" class="text-lg font-bold mr-4">Ocaña FC</a>
                <ul id="menuList" class="hidden md:flex space-x-4">
                    <li><a href="/" class="hover:text-gray-300">Inicio</a></li>
                    <li><a href="/equipos" class="hover:text-gray-300">Equipos</a></li>
                    <li><a href="/noticias" class="hover:text-gray-300">Noticias</a></li>
                    <li><a href="/galeria" class="hover:text-gray-300">Galería</a></li>
                    <li><a href="/contacto" class="hover:text-gray-300">Contacto</a></li>
                    <li><a href="/staff" class="hover:text-gray-300">Staff</a></li>
                    <li><a href="/nosotros" class="hover:text-gray-300">Quienes Somos</a></li>
                    <!-- Normatividad con Submenú -->
                    <li class="relative">
                        <a href="#" class="hover:text-gray-300" id="normatividadButton">Normatividad</a>
                        <ul class="submenu absolute bg-white text-black shadow-lg p-2" id="normatividadSubmenu">
                            <li><a href="/calendario" class="hover:bg-gray-200">Cumpleaños</a></li>
                            <li><a href="/normatividad/item2" class="hover:bg-gray-200">Item 2</a></li>
                            <li><a href="/normatividad/item3" class="hover:bg-gray-200">Item 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="flex items-center">
                <div class="social-icons">
                    <a href="https://www.facebook.com/OcanaFC2021" class="hover:text-white"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="hover:text-white"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/ocana.fc?igsh=MXFxdHkwNTk1Mm83dQ==" class="hover:text-white"><i class="fab fa-instagram"></i></a>
                </div>
                <!-- Botón de menú -->
                <button id="menuButton" class="md:hidden ml-4">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
    </nav>
    <ul id="menuListMobile" class="fixed top-0 right-0 w-64 bg-white shadow-lg p-4 transform transition-transform duration-300 menu-hidden">
        <li><a href="/" class="block py-2">Inicio</a></li>
        <li><a href="/equipos" class="block py-2">Equipos</a></li>
        <li><a href="/noticias" class="block py-2">Noticias</a></li>
        <li><a href="/galeria" class="block py-2">Galería</a></li>
        <li><a href="/contacto" class="block py-2">Contacto</a></li>
        <li><a href="/staff" class="block py-2">Staff</a></li>
        <li><a href="/nosotros" class="block py-2">Quienes Somos</a></li>
        <li class="relative">
            <a href="#" class="block py-2" id="normatividadButtonMobile">Normatividad</a>
            <ul class="submenu bg-white text-black shadow-lg p-2" id="normatividadSubmenuMobile">
                <li><a href="/calendario" class="hover:bg-gray-200">Cumpleaños</a></li>
                <li><a href="/normatividad/item2" class="hover:bg-gray-200">Item 2</a></li>
                <li><a href="/normatividad/item3" class="hover:bg-gray-200">Item 3</a></li>
                <!-- Aquí puedes añadir más items si es necesario -->
            </ul>
        </li>
    </ul>
    <slot />
    <script>
        // JavaScript para manejar el menú y submenú
        document.getElementById('menuButton').addEventListener('click', function (event) {
            event.stopPropagation();
            const menuListMobile = document.getElementById('menuListMobile');
            if (menuListMobile.classList.contains('menu-hidden')) {
                menuListMobile.classList.remove('menu-hidden');
                menuListMobile.classList.add('menu-visible');
            } else {
                menuListMobile.classList.remove('menu-visible');
                menuListMobile.classList.add('menu-hidden');
            }
        });

        // Cerrar el menú si se hace clic fuera de él
        document.addEventListener('click', function (event) {
            const menuListMobile = document.getElementById('menuListMobile');
            const menuButton = document.getElementById('menuButton');
            const target = event.target as Node;
            if (!menuListMobile.contains(target) && !menuButton.contains(target)) {
                if (menuListMobile.classList.contains('menu-visible')) {
                    menuListMobile.classList.remove('menu-visible');
                    menuListMobile.classList.add('menu-hidden');
                }
            }
        });

        // Manejo del submenú Normatividad en versión de escritorio
        const normatividadButton = document.getElementById('normatividadButton');
        const normatividadSubmenu = document.getElementById('normatividadSubmenu');
        normatividadButton.addEventListener('click', function (event) {
            event.stopPropagation();
            normatividadSubmenu.classList.toggle('submenu-visible');
        });

        // Cerrar el submenú si se hace clic fuera de él
        document.addEventListener('click', function (event) {
            const target = event.target as Node;
            if (!normatividadButton.contains(target)) {
                normatividadSubmenu.classList.remove('submenu-visible');
            }
        });

        // Manejo del submenú Normatividad en versión móvil
        const normatividadButtonMobile = document.getElementById('normatividadButtonMobile');
        const normatividadSubmenuMobile = document.getElementById('normatividadSubmenuMobile');
        normatividadButtonMobile.addEventListener('click', function (event) {
            event.stopPropagation();
            normatividadSubmenuMobile.classList.toggle('submenu-visible');
        });

        // Cerrar el submenú si se hace clic fuera de él en versión móvil
        document.addEventListener('click', function (event) {
            const target = event.target as Node;
            if (!normatividadButtonMobile.contains(target)) {
                normatividadSubmenuMobile.classList.remove('submenu-visible');
            }
        });
    </script>
</body>

</html>
