---
const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="icon" type="image/png" href="img/logo.png">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
</head>

<body class="bg-gray-100">
    <nav class="text-white py-4 bg-primary">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center">
                <img src="/img/logo.png" alt="Escudo del equipo" class="h-12 w-12 mr-2">
                <a href="/" class="text-lg font-bold mr-4">Ocaña FC</a>
                <ul id="menuList" class="hidden md:flex space-x-4">
                    <li><a href="/" class="hover:text-gray-300">Inicio</a></li>
                    <li><a href="/equipos" class="hover:text-gray-300">Equipos</a></li>
                    <li><a href="/noticias" class="hover:text-gray-300">Noticias</a></li>
                    <li><a href="/galeria" class="hover:text-gray-300">Galería</a></li>
                    <li><a href="/contacto" class="hover:text-gray-300">Contacto</a></li>
                    <li><a href="/staff" class="hover:text-gray-300">Staff</a></li>
                    <li><a href="/nosotros" class="hover:text-gray-300">Quienes Somos</a></li>
                </ul>
            </div>
            <div class="flex items-center">
                <a href="https://www.facebook.com/OcanaFC2021" class="text-gray-300 hover:text-white mr-4"><i class="fab fa-facebook"></i></a>
                <a href="#" class="text-gray-300 hover:text-white mr-4"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/ocana.fc?igsh=MXFxdHkwNTk1Mm83dQ==" class="text-gray-300 hover:text-white mr-4"><i class="fab fa-instagram"></i></a>
                <!-- Botón de menú -->
                <button id="menuButton" class="md:hidden">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
    </nav>
    <ul id="menuListMobile" class="fixed top-0 right-full w-64 bg-white shadow-lg p-4 transform transition-transform duration-300">
        <li><a href="/" class="block py-2">Inicio</a></li>
        <li><a href="/equipos" class="block py-2">Equipos</a></li>
        <li><a href="/noticias" class="block py-2">Noticias</a></li>
        <li><a href="/galeria" class="block py-2">Galería</a></li>
        <li><a href="/contacto" class="block py-2">Contacto</a></li>
        <li><a href="/staff" class="block py-2">Staff</a></li>
        <li><a href="/nosotros" class="block py-2">Quienes Somos</a></li>
    </ul>
    <slot />
</body>
<!-- JavaScript para manejar el menú -->
<script>
    // JavaScript para cambiar entre el navbar y el menú desplegable
    document.getElementById('menuButton').addEventListener('click', function () {
        const menuListMobile = document.getElementById('menuListMobile');
        menuListMobile.classList.toggle('right-full'); // Muestra u oculta el menú desplegable
    });
</script>

</html>

