---
import Admin from "../../components/admin/Admin";
---

<!DOCTYPE html>
<html class="h-full w-full">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="img/logo.png">
        <title>Ocaña FC | Admin</title>
    </head>

    <body>
        <Admin client:load/>
    </body>

</html>